* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    background-color: #141414;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: American Typewriter, sans-serif;
    font-weight: 300;
    color: #F0F0F0;
    
}